
$dark-navy: #1A2A33;
$semi-dark-navy: #1F3641;
$silver: #A8BFC9;
$silver-hover: #DBE8ED;
$light-blue: #31C3BD;
$light-blue-hover: #65E9E4;
$light-yellow: #F2B137;
$light-yellow-shadow: #CC8B13;
$light-yellow-hover: #FFC860;
$dark-gray: #10212A;

$body-text: 14px;

$heading-xs: 16px;
$heading-sm: 20px;
$heading-md: 24px;
$heading-lg: 40px;

$line-height-xs: 20px;
$line-height-sm: 25px;
$line-height-md: 30px;
$line-height-lg: 50px;

$letter-spacing-xs: 1px;
$letter-spacing-sm: 1.25px;
$letter-spacing-md: 1.5px;
$letter-spacing-lg: 2.5px;

$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

$radius-sm: 10px;
$radius-lg: 15px;

$shadow-sm: 4px;
$shadow-lg: 8px;


