@import './../../sassStyles/mixins';
@import './../../sassStyles/variables';

.new-game-vs-cpu-button {
  font-size: 16px;
  letter-spacing: $letter-spacing-sm;
  padding: $spacing-md;
  margin-bottom: $spacing-lg;
  background-color: $light-yellow;
  border: none;
  border-radius: $radius-lg;
  @include box-shadow($shadow-lg, darken($light-yellow, 15%));

  &:hover {
    background-color: $light-yellow-hover;
  }
}